Project requirements:
- Only requirement is: minimum 10k rows
- Any type of neural network - classical but convolutional and recurrent, better grade
- Presentation of project, beside practical questions about model there would be also theoretical.
The topic is free.

Theory required for project presentation:
+ Practical side.
- Discuss the scheme of an artificial neuron.
- Activation function, why it is so important.
- Explain how does neuron learn - steps, algorithm?
- How does basic neural network work? (The more you know the better, as well as more complex).
- Discuss the algorithm of neural network using backpropagation learning method. (metoda wstecznej propagacji błędów)
- What subsets and why are the data divided into?
Knowledge of ML, statistics.

======================================================== Project topic here

Data sources:
- Kaggle
- Some API

1. Pick
https://www.kaggle.com/datasets/sogun3/uspollution/code?fbclid=IwAR0L-lPddNzejw9f3psL3TM5KVG80VzbtAiooBQQ6s2BSoCoKOTQKpZJ8HQ

2. Pick
https://www.kaggle.com/datasets/sshikamaru/fruit-recognition?fbclid=IwAR2WTxYRvhggwcwUALUGHcMMpQ75LSK0IlXdKuDtaRFJTIz8Xc8RBR8skgc

In [11]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sb
import statsmodels as sm
import tensorflow as tf
from model import VolkswagenModel

print(f"np: {np.__version__}, pd: {pd.__version__}, tf: {tf.__version__}, mpl: {mpl.__version__}, sb: {sb.__version__}, sm: {sm.__version__}")
print("Libs loaded.")

np: 1.22.4, pd: 1.4.2, tf: 2.11.0, mpl: 3.7.1, sb: 0.12.2, sm: 0.13.5
Libs loaded.

In [12]:
data = pd.read_csv("./data/otomoto.csv")
df = pd.DataFrame(data)
df = df.drop(df.columns[0], axis=1)
df.columns = ['Price', 'Year', 'Mileage', 'Tank capacity', 'Fuel type', 'Model', 'Estimation']
df

        Price  Year Mileage Tank capacity  Fuel type Model Estimation
0       71900  2018  114000          1395          0    32          1
1       19900  2006  242000          1595          0     7          1
2       68500  2016  204600          1598          1    32          2
3       18900  2013  336500          1199          1    35          1
4      114900  2017   83200          1968          1    32          2
...       ...   ...     ...           ...        ...   ...        ...
15359   42000  2012   85000          1390          0    35          -
15360   66999  2021   45000          1968          1    47          -
15361   91900  2018  198400          1968          1    44          1
15362   39950  2011  280000          1968          1    44          1
15363   59900  2019  204000          1968          1    16          -

[15364 rows x 7 columns]

In [13]:
data.dtypes

Unnamed: 0     int64
0             object
1              int64
2             object
3             object
4              int64
5             object
6             object
dtype: object

In [20]:
#for i in range(len(list_of_models)):
    #print(i, f" : {list_of_models[i]}")
    
#df["Model"].value_counts().plot(kind='pie')