Project requirements:
- Only requirement is: minimum 10k rows
- Any type of neural network - classical but convolutional and recurrent, better grade
- Presentation of project, beside practical questions about model there would be also theoretical.
The topic is free.

Theory required for project presentation:
+ Practical side.
- Discuss the scheme of an artificial neuron.
- Activation function, why it is so important.
- Explain how does neuron learn - steps, algorithm?
- How does basic neural network work? (The more you know the better, as well as more complex).
- Discuss the algorithm of neural network using backpropagation learning method. (metoda wstecznej propagacji błędów)
- What subsets and why are the data divided into?
Knowledge of ML, statistics.

======================================================== Project topic here

Data sources:
- Kaggle
- Some API

1. Pick
https://www.kaggle.com/datasets/sogun3/uspollution/code?fbclid=IwAR0L-lPddNzejw9f3psL3TM5KVG80VzbtAiooBQQ6s2BSoCoKOTQKpZJ8HQ

2. Pick
https://www.kaggle.com/datasets/sshikamaru/fruit-recognition?fbclid=IwAR2WTxYRvhggwcwUALUGHcMMpQ75LSK0IlXdKuDtaRFJTIz8Xc8RBR8skgc

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import seaborn as sb
import statsmodels as sm
import tensorflow as tf

print(f"np: {np.__version__}, pd: {pd.__version__}, tf: {tf.__version__}, mpl: {mpl.__version__}, sb: {sb.__version__}, sm: {sm.__version__}")
print("Libs loaded.")

np: 1.22.4, pd: 1.4.2, tf: 2.11.0, mpl: 3.7.1, sb: 0.12.2, sm: 0.13.5
Libs loaded.

In [11]:
data = pd.read_csv("./data/otomoto.csv")
df = pd.DataFrame(data)
df = df.drop(df.columns[0], axis=1)
df.columns = ['Price', 'Year', 'Mileage', 'Tank capacity']
df

        Price  Year Mileage Tank capacity
0        6900  2003  195055          1595
1       25900  2007  221606          1595
2      119900  2018   42000          1498
3       32500  2012  214300          1197
4       87900  2015  137000          1968
...       ...   ...     ...           ...
15022   93000  2018  110000          1968
15023    6000  1999  320000          1896
15024   15800  2008  293000          1968
15025   54000  2016  139578          1968
15026   17000  2005  175750          1984

[15027 rows x 4 columns]

In [ ]:
data.dtypes